:root {
  --darkBlue: #00011a;
  --white: #ffffff;
  --blue: #1789db;
  --purple: #7c43ee;
  --pink: #aa4294;
  --nameGradient: linear-gradient(
    90deg,
    var(--pink),
    var(--purple),
    var(--blue),
    var(--pink)
  );
  --gray: #494949;
  --textBlack: #111111;

  background-color: var(--darkBlue);
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: row;
}

.barras {
  position: static;
  display: flex;
  padding: 0;
  flex-direction: row;
  justify-content: center;
  margin-left: 10vw;
  margin-right: 10vw;
  transition: transform 0.5s ease-in-out;
}

.barra {
  background-color: #ccc;
  width: 1px;
  transform: rotate(0deg);

  margin-left: 7%;
  margin-right: 7%;
}

.barras:hover {
  transform: rotate(2deg);
}

.barras1 {
  margin-left: 13%;
  animation: barras1 2s ease forwards;
}
.barras2 {
  margin-right: 9%;
  animation: barras2 2s ease forwards;
}
.barras3 {
  animation: barras3 2s ease forwards;
}
.barras4 {
  margin-left: 11%;
  margin-right: 11%;
  animation: barras4 2s ease forwards;
}
.barras5 {
  margin-right: 16%;
  animation: barras5 2s ease forwards;
}

.mi-ft {
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 1.7vw;
  height: 13.2vw;
  width: 13.2vw;
  object-fit: cover;
  margin-left: 15.6vw;
  transition: all 0.5s ease-in-out, border-radius 0.3s ease-in-out;
}

.mi-ft:hover {
  border-radius: 2.6vw;
  border: 2px solid var(--blue);
}

.presentacion h1 {
  text-align: center;
  font-size: 4vw;
  font-weight: 100;
  font-weight: 900;
  margin-top: 0%;
  margin-bottom: 0;
  transition: all 0.3s ease-in-out;
}

.presentacion h2 {
  text-align: center;
  font-size: 3vw;
  font-weight: 900;
  margin-top: 0%;
  margin-bottom: 0%;
}

.presentacion {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 0;
  margin-left: 16.7vw;
  background: var(--nameGradient);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 900;
  background-size: 200% 200%;

  /* Animación del gradiente */
  animation: gradientMove 3s ease infinite;
}

.presentacion h1:hover {
  font-size: 4.2vw;
  animation: gradientMove 0.5s ease infinite;
}

.btn {
  background-color: var(--gray);
  border: none;
  border-radius: 0.5vw;

  color: var(--textBlack);
  font-size: 3vw;
  justify-content: center;
  font-weight: bold;

  margin-left: 26.82vw;
  margin-top: 7.55vh;
  padding-left: 4vw;
  padding-right: 4vw;

  height: 7.5vw;
  width: 18.43;
  transition: all 0.5s ease-in-out, border-radius 0.3s ease-in-out;
}

.btn:hover {
  color: var(--white);
  background-color: var(--darkBlue);
  border-radius: 1.5vw;
  box-shadow: 0 0 0 2px var(--blue) inset;
  transform: perspective(800px) rotateX(10deg) rotateY(-15deg) scale(1.05);

  cursor: pointer;
}

@keyframes gradientMove {
  0% {
    background-position: -100% -50%;
  }
  25% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -100% -50%;
  }
}

@keyframes barras1 {
  0% {
    height: 0;
    box-shadow: 0 0 0px 0px var(--blue);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    height: 4.89vw;
    transform: rotate(20deg);
    box-shadow: 0 0 100px 50px var(--pink);
  }
}

@keyframes barras2 {
  0% {
    height: 0;

    box-shadow: 0 0 0px 0px var(--purple);
  }
  50% {
    box-shadow: 0 0 50px 25px var(--purple);
    transform: rotate(5deg);
  }
  100% {
    height: 11.35vw;
    transform: rotate(20deg);
    box-shadow: 0 0 100px 50px var(--blue);
  }
}

@keyframes barras3 {
  0% {
    height: 0;
    margin-bottom: 18.69vw;
    box-shadow: 0 0 0px 0px var(--pink);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    height: 18.69vw;
    transform: rotate(20deg);
    box-shadow: 0 0 100px 60px var(--blue);
  }
}

@keyframes barras4 {
  0% {
    height: 0;
    box-shadow: 0 0 0px 0px var(--purple);
  }
  50% {
    box-shadow: 0 0 50px 25px var(--purple);
    transform: rotate(5deg);
  }
  100% {
    height: 14.16vw;
    transform: rotate(20deg);
    box-shadow: 0 0 100px 50px var(--blue);
  }
}

@keyframes barras5 {
  0% {
    height: 0;
    box-shadow: 0 0 0px 0px var(--blue);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    height: 10vw;
    transform: rotate(20deg);
    box-shadow: 0 0 100px 50px var(--pink);
  }
}
